*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  --generated-color: #ff8400;
}

h1 {
  font-size: 2.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--generated-color);
}

.list-item {
  font-family: monospace;
  background-color: var(--generated-color);
}
